:root {
    --cor-fundo: #94b3ce;
    --cor-principal: #4d7aa2;
    --cor-segundaria:#e1edf7;
    --cor-destaque:#1d6eb5;
    --cor-texto:#01080E;


    body { 
background-color: var(--cor-fundo);
color:var(--cor-texto)
display:flex;
justify-content: center;
align-items: center;
min-height: 100vh;
    }
.caixa-ptrincipal {
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600%;
    text-align: center;
    padding: 20px;

    }

    h1 {
    color:var(--cor-destaque);
    }

    button {
        background-color: var(--cor-segundaria);
        color:var(--cor-texto)